
@import "tailwindcss";
*{
    font-family: "Inter", sans-serif;
    transition: all .5s;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}
.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.result{
    transition: all 1s;
    box-shadow: 0 1 12px rgb(132, 132, 132);
}
.NavLink.active{
    background-color: #473ba6;
    color: white;
    border-radius: 20px;
}